.favorites-list{
    margin-top:10px;
    font-size: 20px;
    color:rgb(181 181 181);
    margin-left: 50px;

}

  
.box {
    height: 60px;
    background-color:  rgb(35, 34, 34);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  input {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 0px;
    transition: 0.8s ease;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
   
  input::placeholder {
    color: antiquewhite;
  }
   
  a {
    color: whitesmoke;
    text-align: center;
    width: 60px;
    font-size: 18px;
  }
   
  .box:hover input {
    width: 200px;
    margin: 0 20px;
    border-bottom: 2px solid red;
  }
   
  input:focus {
    width: 200px;
    margin: 0 20px;
    border-bottom: 2px solid red;
  }

  
.row {
    display: flex;
    align-items: center;
  }
  
  .text {
    margin-right: auto;
  }
  
  .box {
    display: flex;
    align-items: center;
    /* Các thuộc tính CSS khác cho div "box" */
  }
  