* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgb(22, 21, 21);
  color: #fff;
  font-family: "Special Elite", cursive;
}

.container {
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;
}

.app {
  display: flex;
}

.sidebar-wrapper {
  background: rgb(35, 34, 34);
  height: 100vh;
  position: fixed;
}

.main-content {
  margin-left: 200px;
  width: calc(100% - 200px);
}
